body {
  font-family: "Noto Sans KR", sans-serif;
}

.slider {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.slider .item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #ccc;
  z-index: -1;
}
/* COMMON STYLE */
section[data-type="slide"] .item-container {
  overflow: hidden;
  position: relative;
  height: 50vh;
  margin: 0 0.75rem;
}
section[data-type="slide"] .item-container > li {
  position: absolute;
  width: 100%;
  padding: 0 0.75rem;
  transition: all 0.3s ease-in-out;
}
section > .title {
  padding: 3rem 0 2rem;
  margin: 0 1.5rem;
}
section > .title h3 {
  margin-bottom: 0.75rem;
  font-size: 1.2rem;
  font-weight: bold;
}
section > .title h4 {
  font-size: 2rem;
  font-weight: bold;
}
.item-container {
  margin: 0 1.5rem;
}
.item-container a {
  display: block;
}
.item-container img {
  display: block;
  margin-bottom: 1.25rem;
}
.item-container h5 {
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
  font-weight: bold;
}
.item-container p {
  height: 5rem;
  font-size: 1rem;
  line-height: 1.5;
}
/* #technology */
#technology .txt-box {
  position: relative;
  width: 100%;
  height: 640px;
  margin-bottom: 100px;
  background: url(../images/kakao/tech_main.png) center/cover;
}
#technology .sub-title {
  position: absolute;
  bottom: -30px;
  right: 0;
  width: 90%;
  margin-left: 100px;
  padding: 2.5rem 1.25rem 1.25rem 6.25rem;
  background-color: #fff;
}
#technology .sub-title h5 {
  margin-bottom: 1rem;
  font-size: 1.75rem;
  font-weight: bold;
}
#technology .sub-title p {
  line-height: 1.7;
}
#technology .item-container > li {
  break-inside: avoid;
}
#technology .item-container li + li {
  margin-top: 3rem;
}
/* #service */
#service .tab-btn {
  margin: 0 1.5rem;
}
#service .item-container > li a {
  display: block;
}
/* #news */
#news {
  position: relative;
  background: url("../images/kakao/news.png") center/cover;
  height: 800px;
}
#news .txt-box {
  position: absolute;
  width: 80%;
  bottom: 0;
  right: 0;
  background-color: #fff;
}
/* #inquiry */
#inquiry {
  position: relative;
  height: 300px;
  background: url("../images/kakao/inquiry_main.jpg") center/cover
    rgba(0, 0, 0, 0.5);
}
#inquiry::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
#inquiry .txt-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}
/* footer */
#fnb .fnb-menu li {
}
@media screen and (min-width: 800px) {
  #technology .item-container {
    column-count: 2;
    column-gap: 30px;
  }
  section[data-type="slide"] .item-container > li {
    width: 33.3%;
  }
  #fnb .fnb-menu {
    display: flex;
    justify-content: space-around;
  }
  #fnb .fnb-menu li {
    text-align: center;
  }
}
