header {
  min-height: 100vh;
}
/* nav */
nav {
  position: relative;
  z-index: 10;
  background-color: var(--clr-white);
  padding: 1rem 1.5rem;
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: var(--transition);
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
/* fixed-nav */
.fixed-nav {
  position: fixed;
  width: 100%;
  background-color: var(--clr-white);
  box-shadow: var(--light-shadow);
  z-index: 10;
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  overflow: hidden;
  height: 0;
  transition: var(--transition);
}
.links a {
  display: block;
  padding: 0.75rem 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #617d98;
  text-transform: capitalize;
  letter-spacing: 0.25rem;
}
.links a {
  display: block;
  padding: 0.75rem 0;
  background-color: var(--clr-white);
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--clr-grey-5);
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  transition: var(--transition);
}
.links a:hover {
  color: var(--clr-grey-1);
}
@media screen and (min-width: 800px) {
  nav {
    background-color: transparent;
  }
  .nav-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links-container .links {
    display: flex;
  }
  .links a {
    margin: 0 1rem;
    background-color: transparent;
    color: var(--clr-white);
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
